@import "~normalize.css";
@import "./slick.css";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #474747;
  display: block;
  padding: 56px 23px;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: bold;
}

nav a:hover {
  color: white;
  background: #59c45a;
}

header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #59c45a;
  font-size: 28px;
  font-weight: bold;
  padding: 14px 20px;
  display: block;
  border: 2px solid #959595;
  position: relative;
}

.logo::after {
  content: 'travel';
  text-transform: uppercase;
  font-size: 18px;
  color: #59c45a;
  font-weight: normal;
  position: absolute;
  padding: 0 14px;
  background: white;
  top: 50px;
  left: 40px;
}

.button-menu {
  display: none;
  border: none;
}

.home {
  min-height: 915px;
  background: url(../img/bg.jpg) center/cover fixed;
}

.home-container {
  min-height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 68px;
  color: white;
}

.home-text {
  font-size: 22px;
  line-height: 38px;
  color: white;
  margin: 56px auto 100px;
}

.home-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #59c45a;
  font-size: 26px;
  padding: 26px 60px;
  border: 5px;
}

.favorable {
  padding: 100px 0 70px;
}

.section-title {
  text-align: center;
  color: #59c45a;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 1px;
  left: 50%;
  top: 40px;
  background: #c2c2c2;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  left: 50%;
  top: 40px;
  background: #59c45a;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.fav-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.fav-item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.fav-img {
  width: 40%;
}

.fav-text {
  width: 270px;
  margin-left: 30px;
}

.fav-text h6 {
  margin: 14px 0 25px;
  font-size: 15px;
  color: #c2c2c2;
  line-height: 20px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #efeeee;
  margin: 30px;
}

.service-slider {
  width: 50%;
  position: relative;
}

.service-slider img {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slick-dots button {
  font-size: 0;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: #bbcfcf;
  border-radius: 50%;
  margin: 0 6px;
  outline: none;
}

.slick-active button {
  background: white;
}

.service-block {
  width: 50%;
  padding: 60px 0;
}

.service-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin: 60px auto 0;
}

.service-item {
  width: 48%;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 35px;
}

.service-item p {
  font-size: 14px;
  color: #959595;
  line-height: 24px;
  text-align: left;
  margin-top: 25px;
}

.tours {
  padding: 100px 0;
  text-align: center;
}

.tours-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 75px auto;
}

.tours-container a {
  -webkit-box-flex: 0;
      -ms-flex: 0 24%;
          flex: 0 24%;
  margin-bottom: 2%;
}

.tours-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.more {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: white;
  background: #59c45a;
  font-size: 26px;
  padding: 25px 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 35px rgba(89, 196, 90, 0.65);
          box-shadow: 0 0 35px rgba(89, 196, 90, 0.65);
  -webkit-transform: .3s;
          transform: .3s;
}

.more:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1000px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 15px;
  }
  nav {
    margin-top: 10px;
    width: 100%;
  }
  nav li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  nav a {
    text-align: center;
  }
  .home {
    min-height: auto;
    padding: 40px 0;
  }
  .fav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fav-item {
    width: 100%;
  }
  .fav-text {
    width: 100%;
  }
  .fav-img {
    width: 30%;
  }
  .tours-container a {
    -webkit-box-flex: 0;
        -ms-flex: 0 32%;
            flex: 0 32%;
  }
}

@media (max-width: 800px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  nav a {
    padding: 20px 0;
    color: white;
    background: #59c45a;
    border-top: 2px solid white;
  }
  .button-menu {
    display: block;
    width: 100%;
    padding: 20px 0;
    background: #59c45a;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
  }
  .home-title {
    font-size: 50px;
  }
  header .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .fav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fav-img {
    width: 70%;
    margin: 0 auto;
  }
  .fav-text {
    width: 70%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */