@media(max-width: 1200px) {
    .service {
        flex-direction: column;
        margin: 0;
    }
    .service-slider,
    .service-block {
        width: 100%;
    }

    .service-slider {
        height: 400px;
    }

    .slide img {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
} 

@media(max-width: 1000px) {
    header .container {
        flex-direction: column;
        padding-top: 15px;
    }

    nav {
        margin-top: 10px;
        width: 100%;

        li {
            flex-grow: 1;
        }

        a {
            text-align: center;
        }
    }

    .home {
        min-height: auto;
        padding: 40px 0;
    }

    .fav-container {
        flex-direction: column;
    }
    
    .fav-item {
        width: 100%;
    }

    .fav-text {
        width: 100%;
    }

    .fav-img {
        width: 30%;
    }

    .tours-container a {
        flex: 0 32%;
    }
}

@media(max-width: 800px) {
    nav {
        ul {
            flex-direction: column;
            display: none;
        }

        a {
            padding: 20px 0;
            color: white;
            background: #59c45a;
            border-top: 2px solid white;
        }
    }
    .button-menu {
        display: block;
        width: 100%;
        padding: 20px 0;
        background: #59c45a;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
    }

    .home-title {
        font-size: 50px;
    }

    header .container {
        padding-left: 0;
        padding-right: 0;
    }

    .tours-container a {
        flex: 0 49%;
    }

    .contacts-container {
        flex-direction: column;
    }

    .contacts-info,
    .contacts-form {
        width: 100%;
    }
       
}

@media(max-width: 600px) {
    .fav-item {
        flex-direction: column;
    }

    .fav-img {
        width: 70%;
        margin: 0 auto;
    }

    .fav-text {
        width: 70%;
        margin: 0 auto;
    }

    .service-item {
        width: 100%;
    }

    .tours-container a {
        flex: 0 100%;
    }
}