.tours {
    padding: 100px 0;
    text-align: center;
}

.tours-container {
    flex-wrap: wrap;
    margin: 75px auto;

    a {
        flex: 0 24%;
        margin-bottom: 2%;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

.more {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    color: white;
    background: $green;
    font-size: 26px;
    padding: 25px 50px;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(89, 196, 90, 0.65);
    transform: .3s;

    &:hover {
        box-shadow: none;
    }
}